@import "tailwindcss";
@import "@repo/tailwind-config";


body{ 
  box-sizing: border-box;
  background-color: rgb(8, 8, 27);
}

#ludoBoard {
  display: grid;
  max-width: 500px;
  max-height: 500px; 
  min-width: 500px; 
  min-height: 500px;
  background: white;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-template-areas:
    "redBoard redBoard greenPath greenBoard greenBoard"
    "redBoard redBoard greenPath greenBoard greenBoard"
    "redPath redPath winZone yellowPath yellowPath"
    "blueBoard blueBoard bluePath yellowBoard yellowBoard"
    "blueBoard blueBoard bluePath yellowBoard yellowBoard";
}

/* Each region’s slot */
.red-board {
  grid-area: redBoard;
}

.red-path {
  grid-area: redPath;
}

.green-board {
  grid-area: greenBoard;
}

.green-path {
  grid-area: greenPath;
}

.yellow-board {
  grid-area: yellowBoard;
}

.yellow-path {
  grid-area: yellowPath;
}

.blue-board {
  grid-area: blueBoard;
}

.blue-path {
  grid-area: bluePath;
}

.win-zone {
  grid-area: winZone;
}

.horizontal-path{
  display: grid;  
  gap: 1px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.vertical-path{
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

