@import "tailwindcss";
@import "@repo/tailwind-config";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#ludoBoard {
  display: grid;
  width: 500px;
  height: 500px;
  background: white;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-template-areas:
    "redBoard redBoard greenPath greenBoard greenBoard"
    "redBoard redBoard greenPath greenBoard greenBoard"
    "redPath redPath winZone yellowPath yellowPath"
    "blueBoard blueBoard bluePath yellowBoard yellowBoard"
    "blueBoard blueBoard bluePath yellowBoard yellowBoard";
}

/* Each region’s slot */
.red-board {
  grid-area: redBoard;
}

.red-path {
  grid-area: redPath;
}

.green-board {
  grid-area: greenBoard;
}

.green-path {
  grid-area: greenPath;
}

.yellow-board {
  grid-area: yellowBoard;
}

.yellow-path {
  grid-area: yellowPath;
}

.blue-board {
  grid-area: blueBoard;
}

.blue-path {
  grid-area: bluePath;
}

.win-zone {
  grid-area: winZone;
}
